# Firebase Configuration
REACT_APP_FIREBASE_API_KEY=your-api-key
REACT_APP_FIREBASE_AUTH_DOMAIN=your-project-id.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=your-project-id
REACT_APP_FIREBASE_STORAGE_BUCKET=your-project-id.appspot.com
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=your-messaging-sender-id
REACT_APP_FIREBASE_APP_ID=your-app-id
REACT_APP_FIREBASE_MEASUREMENT_ID=your-measurement-id

# AWS S3 Configuration
REACT_APP_AWS_ACCESS_KEY=your-aws-access-key
REACT_APP_AWS_SECRET_KEY=your-aws-secret-key
REACT_APP_AWS_REGION=your-aws-region
REACT_APP_S3_BUCKET=your-s3-bucket-name

# OpenAI API Configuration
REACT_APP_OPENAI_API_KEY=your-openai-api-key