# Dependencies
node_modules/
.env
.env.local

# Build
build/
dist/

# System files
.DS_Store
*.log

# Test files and scripts
test*
*.sh
downloaded_test.txt

# Temporary directories
aws/
docker/
migrations/
database/
backend/
chatgenius-mvp/
chatgenius/

# Other
*.zip
cors.json
